pkgbase = linux-mainline
	pkgver = 5.2
	pkgrel = 5
	url = https://git.archlinux.org/linux.git/log/?h=v
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = libelf
	makedepends = git
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = graphviz
	makedepends = imagemagick
	options = !strip
	source = linux-mainline::git+https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git#tag=v5.2
	source = config
	source = 60-linux.hook
	source = 90-linux.hook
	source = linux.preset
	source = intel.patch::https://git.archlinux.org/linux.git/patch/?id=36232e06dc6332c45a77bd26e36015dbaa094d15
	source = clone_newuser.patch::https://git.archlinux.org/linux.git/patch/?id=3709f2a5ba6d5b36f63fcb1d348701b4c155463f
	source = unpriv.patch::https://git.archlinux.org/linux.git/patch/?id=0bced488c460e3e9c9b0cdbca884f1704f6877f7
	source = stable.patch.xz::https://cdn.kernel.org/pub/linux/kernel/v5.x/patch-5.2.2.xz
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 8218F88849AAC522E94CF470A5E9288C4FA415FA
	sha256sums = SKIP
	sha256sums = 5dc432031db0b2b6640f0d4eab6c824594106dde9f44d1e5b979978109d13f0d
	sha256sums = ae2e95db94ef7176207c690224169594d49445e04249d2499e9d2fbc117a0b21
	sha256sums = 834bd254b56ab71d73f59b3221f056c72f559553c04718e350ab2a3e2991afe0
	sha256sums = ad6344badc91ad0630caacde83f7f9b97276f80d26a20619a87952be65492c65
	sha256sums = 83e321e6e3bae751e711c3f5a753ef91d671f017f58ca1b5d17dfdf203489175
	sha256sums = 679d4aee50197457716e14bdbded58328c070d514ec6f029cb64002d80df48af
	sha256sums = 0e50ed31f48cc7c169d4a13eba4668d4fb3efe034ab18fdc3227a1e9b7fc3a67
	sha256sums = 729084da258dd41195aae7f6c897b92f2e9355c0f9d28beec1fb8e67984afdf0

pkgname = linux-mainline
	pkgdesc = The Linux-mainline kernel and modules
	install = linux.install
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = mkinitcpio
	optdepends = crda: to set the correct wireless channels of your country
	backup = etc/mkinitcpio.d/linux-mainline.preset

pkgname = linux-mainline-headers
	pkgdesc = Header files and scripts for building modules for Linux-mainline kernel

pkgname = linux-mainline-docs
	pkgdesc = Kernel hackers manual - HTML documentation that comes with the Linux-mainline kernel

