pkgbase = linux-mainline
	pkgver = 5.4rc2
	pkgrel = 2
	url = https://git.archlinux.org/linux.git/log/?h=v
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = libelf
	makedepends = git
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = graphviz
	makedepends = imagemagick
	options = !strip
	source = linux-mainline::git+https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git#commit=v5.4-rc2
	source = config
	source = 60-linux.hook
	source = 90-linux.hook
	source = linux.preset
	source = clone_newuser.patch::https://git.archlinux.org/linux.git/patch/?id=bd72838cba44f93e3166e76f69c50136a65df228
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 8218F88849AAC522E94CF470A5E9288C4FA415FA
	sha256sums = SKIP
	sha256sums = a654265562b2b377b52a049cb98822e401e159467ed743c8ddeb3adad2841ec6
	sha256sums = 452b8d4d71e1565ca91b1bebb280693549222ef51c47ba8964e411b2d461699c
	sha256sums = 834bd254b56ab71d73f59b3221f056c72f559553c04718e350ab2a3e2991afe0
	sha256sums = ad6344badc91ad0630caacde83f7f9b97276f80d26a20619a87952be65492c65
	sha256sums = 679d4aee50197457716e14bdbded58328c070d514ec6f029cb64002d80df48af

pkgname = linux-mainline
	pkgdesc = The Linux-mainline kernel and modules
	install = linux.install
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	backup = etc/mkinitcpio.d/linux-mainline.preset

pkgname = linux-mainline-headers
	pkgdesc = Header files and scripts for building modules for Linux-mainline kernel

pkgname = linux-mainline-docs
	pkgdesc = Kernel hackers manual - HTML documentation that comes with the Linux-mainline kernel

