pkgbase = linux-mainline
	pkgver = 5.3
	pkgrel = 1
	url = https://git.archlinux.org/linux.git/log/?h=v
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = libelf
	makedepends = git
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = graphviz
	makedepends = imagemagick
	options = !strip
	source = linux-mainline::git+https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git#tag=v5.3
	source = config
	source = 60-linux.hook
	source = 90-linux.hook
	source = linux.preset
	source = clone_newuser.patch::https://git.archlinux.org/linux.git/patch/?id=3709f2a5ba6d5b36f63fcb1d348701b4c155463f
	source = unpriv.patch::https://git.archlinux.org/linux.git/patch/?id=0bced488c460e3e9c9b0cdbca884f1704f6877f7
	source = amd_bulk_moves.patch
	source = amd_mclk_switching.patch
	source = amd_futex1.patch::https://lore.kernel.org/lkml/20190730220602.28781-1-krisman@collabora.com/raw
	source = amd_futex2.patch::https://lore.kernel.org/lkml/20190730220602.28781-2-krisman@collabora.com/raw
	source = amd_lfc.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 8218F88849AAC522E94CF470A5E9288C4FA415FA
	sha256sums = SKIP
	sha256sums = 85101b1acca259359a1b5dae83c049d840a8b4cdaa37af4b827143ed74077818
	sha256sums = ae2e95db94ef7176207c690224169594d49445e04249d2499e9d2fbc117a0b21
	sha256sums = 834bd254b56ab71d73f59b3221f056c72f559553c04718e350ab2a3e2991afe0
	sha256sums = ad6344badc91ad0630caacde83f7f9b97276f80d26a20619a87952be65492c65
	sha256sums = 679d4aee50197457716e14bdbded58328c070d514ec6f029cb64002d80df48af
	sha256sums = 0e50ed31f48cc7c169d4a13eba4668d4fb3efe034ab18fdc3227a1e9b7fc3a67
	sha256sums = 51ea50fcf7a48741c8afd15dd5cf134df1b359144a4ad0c95bd59881a40624ea
	sha256sums = 77bf0edae15265ebba916470f4c0b8d802c8fb035d049ab0ea92394f76d8ad19
	sha256sums = 9bcde03fa725bdec6234a585d8c71e7e9db5482c8f066f1681e4f0b8faec472e
	sha256sums = 48ea95b1fccd34a1d2a985add62f2ead0e3a4e75aba7117928d5fdc9b47bdd45
	sha256sums = e1cb4e85e56eac691fb3cdd1cce2a8560ee6b38d0031cc75cafa2967d463d93d

pkgname = linux-mainline
	pkgdesc = The Linux-mainline kernel and modules
	install = linux.install
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = mkinitcpio
	optdepends = crda: to set the correct wireless channels of your country
	backup = etc/mkinitcpio.d/linux-mainline.preset

pkgname = linux-mainline-headers
	pkgdesc = Header files and scripts for building modules for Linux-mainline kernel

pkgname = linux-mainline-docs
	pkgdesc = Kernel hackers manual - HTML documentation that comes with the Linux-mainline kernel

